@import "styles";

body {
  background-color: $colorYellow;
  box-sizing: border-box;
}

header {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;

  .title {
    font-family: "Tourney", cursive;
    margin-top: 1em;
    text-align: center;
    font-size: 60px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  }
}

canvas {
  padding-left: 0;
  padding-right: 0;
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 5px solid #000;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.waveTopFooter {
  fill: $colorYellow;
}

footer {
  box-sizing: normal;
  padding-bottom: 50px;
}
